<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <!--AT THIS POINT, YOU MUST CONFIGURE HOW YOU GENERATE THE REPORTS-->
    <!--##########FOLDER#############-->
    <add key="dirpathsave" value="C:\\sphereX\\save" />
    <add key="dirpathreport" value="C:\\sphereX\\save\\report" />

    <!--##########REPORT#############-->
    <add key="shardName" value="Your Shard" />
    <add key="Item_report" value="1" /><!--Summary of item in circulation-->
    <add key="Npc_report" value="1" /><!--Summary of npc spawn-->
    <add key="Gold_report" value="1" /> <!--Summary of gold in circulation-->
    <add key="Item_list" value="1" /> <!--List of item in the game-->


  </appSettings>
</configuration>